@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins' , sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 100px;
    background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.container {
    background: #eeeeee;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
}

.container div {
    background: #fff;
    padding: 2rem;
}

p.bio {
    text-align: left;
    font-size: 1.5rem;
    border: 20px solid #ccc; /* Set border style */
    padding: 20px; /* Add padding for spacing */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

h1.Hi {
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
    color: red;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    /* เพิ่มเส้นใต้ */
    border-bottom: 2px solid #333;
}

img.Logo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
}

h1.name {
    text-transform: uppercase;
    font-size: 3.0rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: red;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    /* เพิ่มเส้นใต้ */
    border-bottom: 2px solid #333;
}

span.slogan {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: rgba(51, 51, 51, 0.7);
    /* สร้างขอบเขต */
    border-top: 1px solid rgba(51, 51, 51, 0.7);
    border-bottom: 1px solid rgba(51, 51, 51, 0.7);
    padding: 10px 0; /* เพิ่มระยะห่างขอบ */
}

footer {
    width: 100%;
    padding: 5px 100px;
    background-color: red;
    color: #fff;
    display: flex;
    justify-content: flex-end; /* ขยับชิดด้านขวา */
    align-items: center;
    z-index: 99;
}

footer p,
footer a {
    margin-left: 10px; /* เพิ่มระยะห่างระหว่างองค์ประกอบ */
}